<% if signed_in? %>
<h1>Editing Kanji</h1>

<%= render 'form', kanji: @kanji %>

<%= link_to 'Show', @kanji %> |
<%= link_to 'Back', kanjis_path %>
<% else %>
  <h1>Necesita hacer login para acceder a esa dirección</h1>
<% end %>