<% if signed_in? %>
<h1>Editing Leccion Hiragana</h1>

<%= render 'form', leccion_hiragana: @leccion_hiragana %>

<%= link_to 'Show', @leccion_hiragana %> |
<%= link_to 'Back', leccion_hiraganas_path %>
<% else %>
   <h1>Necesita hacer login para acceder a esa dirección</h1>
<% end %>