<% if signed_in? %>
<h1>Editing Katakana</h1>

<%= render 'form', katakana: @katakana %>

<%= link_to 'Show', @katakana %> |
<%= link_to 'Back', katakanas_path %>
<% else %>
   <h1>Necesita hacer login para acceder a esa dirección</h1>
<% end %>